* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sofadi+One&family=Sofia&display=swap");
.sofia {
  font-family: "Sofia", cursive;
}

.sofadi {
  font-family: "Sofadi One";
}

.roboto {
  font-family: "Roboto Slab", serif;
}
/* Bus Icon's Animation */
@keyframes busMove {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px); /* Moves forward */
  }
  75% {
    transform: translateX(-10px); /* Returns to original position */
  }
  100% {
    transform: translateX(0); /* Returns to original position */
  }
}
.bus-wiggle {
  animation: busMove 1.5s infinite ease-in-out;
}


.background {
  background-image: url("./../images/luckey-rajaora-QYB6Y_E_Oj8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  border-radius: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}