* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sofadi+One&family=Sofia&display=swap");
.sofia {
  font-family: "Sofia", cursive;
}

.sofadi {
  font-family: "Sofadi One";
}

.roboto {
  font-family: "Roboto Slab", serif;
}
/* Bus Icon's Animation */
@keyframes busMove {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px); /* Moves forward */
  }
  75% {
    transform: translateX(-10px); /* Returns to original position */
  }
  100% {
    transform: translateX(0); /* Returns to original position */
  }
}
.bus-wiggle {
  animation: busMove 1.5s infinite ease-in-out;
}
